extends index.pug 

block showProducts
        br
        <h2>List of products</h2>
        if products 
            table(class="table")
                tr
                    th ID
                    th Title
                    th Price
                    th Img
                each product in products
                    tr
                        td #{product.id}
                        td #{product.title}
                        td #{product.price}
                        td 
                            img.tableImg(src=product.thumbnail, alt=product.title)
        else 
            h2 No products available
        <form action="/" method="get">
            <input type="submit" value="Volver a formulario" class="submitBtn">
        </form>